<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/ingredient_form.css">

<p class = "input_field">
  <%= form.label :name, "name" %><br>
  <%= form.text_field :name %>
</p>
<p class = "input_field">
  <%= form.label :amount, "amount" %><br>
  <%= form.number_field :amount %>
</p>
<p class = "input_field">
  <%= form.label :uom, "UOM" %><br>
  <%= form.text_field :uom %>
</p>
<p class = "input_field">
  <%= form.submit %>
</p> </br>




