<!--<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/recipes.scss">-->

<div id = "page-container">
  <div class = 'header'>
    Listing Recipes
  </div>
  <div id = "content-wrap">

    <%= link_to '<button type="button">Home</button>'.html_safe, home_index_path %>

    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Note</th>
        <th colspan="3"></th>
      </tr>

      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.author  %></td>
          <td><%= recipe.note %></td>
          <td><%= link_to 'Show', recipe_path(recipe) %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe_path(recipe),
                          method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
    </br>
    <%= link_to '<button type="button">New Recipe</button>'.html_safe, new_recipe_path %>
    </br>
  </div>

  <footer id = "footer">Team Eggplantbert: Alex Eby, Tristin Colenso, Ethan Large, Roman Formicola</footer>
</div>



